*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#f8f8f8; 
    box-sizing: border-box;
}
#cont{
    border: 2px red solid;
    font-family: roboto, sans-serif;
}
#main{
margin: 30px 110px 90px 110px;
border: 2px blue solid;
}
#main h1{
    text-align: center;
}
#maintop{
    display: flex;
    flex: 50%;
    margin-top: 20px;
    border: 2px yellow solid;
}
.toy{
    padding: 20px;
    border: 2px red solid;
}
.toy h2{
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-bottom: #D89616 solid 3px;
    margin-bottom: 35px;
    
   

}
#contact h1{
    text-align: left;
}
#contact{
    padding: 50px 110px;
    border: 2px red solid;
}
#contact div{
  padding: 30px 90px 90px 90px;
  background-color: white;
  border-radius: 10px;

  box-shadow: 2px 2px 3px gray;
}
input[type="text"]{
    height: 43px;
}
input[type="text"], textarea{
    width: 100%;
    border-radius: 5px;
    outline: none;
}
label{
    line-height: 21px;
}
button{
font-size: 20px;
background-color: #004DE6C2;
border-radius: 8px;
color: white;
padding: 5px 15px  ;
width: 217px;
float: right;
}

